@import "tailwindcss";
@import "tw-animate-css";

:root {
	@apply m-0 rounded-4xl overscroll-none;
	text-align: center;
}

:focus-visible {
	@apply outline-none;
}

@theme {
	--color-text: var(--color-neutral-200);
	--color-text-muted: var(--color-neutral-400);

	--color-surface-muted: var(--color-neutral-700);
	--color-surface: var(--color-neutral-800);
	--color-dark: var(--color-neutral-900);

	--color-destructive: var(--color-red-600);

	--color-tint: color-mix(in oklab, var(--color-surface) 75%, transparent);
	--color-dark-tint: color-mix(in oklab, var(--color-dark) 75%, transparent);

	--font-display: "Geist Mono Variable", monospace;

	--text-mini: 0.75rem; /* 12px */
	--text-mini--line-height: 1rem; /* 16px */

	--text-display: 1rem; /* 16px */
	--text-display--line-height: 1.25rem; /* 20px */

	--text-edit: 1.125rem; /* 18px */
	--text-edit--line-height: 1.5rem; /* 24px */
}

@layer base {
	#root {
		@apply m-0 h-full w-full text-display;
		font-family: "Geist Mono Variable", monospace;
	}

	body {
		@apply h-screen w-screen font-display;
	}

	.toaster .toast {
		@apply py-2! hover:py-2! font-mono!;
	}

	.toaster .title {
		@apply text-left!;
	}

	[tooltip-title] {
		@apply relative;

		&::after {
			content: attr(tooltip-title);
			@apply pointer-events-none select-none opacity-0 absolute left-1/2 -translate-x-1/2 whitespace-nowrap rounded-md bg-surface px-2 py-1 text-mini text-text shadow-lg;
			z-index: 10;
		}

		&:hover::after {
			@apply opacity-100 delay-1000 duration-100;
		}

		&:not([tooltip-position="bottom"]) {
			&:hover::after {
				@apply -top-7;
			}
		}
	}

	[tooltip-position="bottom"] {
		&:hover::after {
			@apply -bottom-7;
		}
	}

	dialog::backdrop {
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(2px);
	}

	dialog[open] {
		padding: 0; /* remove default dialog padding */
		border: none;
	}
}

@layer utilities {
	@keyframes loader-dots {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		40% {
			transform: scale(1);
			opacity: 1;
		}
		80% {
			transform: scale(0);
			opacity: 0;
		}
		100% {
			transform: scale(0);
			opacity: 0;
		}
	}
}
